.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.dropdown {
  width: 50%;
  height: 36px;
  border-radius: 8px;
  outline: none;
  border: 2px solid transparent;
}