.container {
  display: flex;
  flex-direction: column;
}

.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__filters{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.component__input {
  width: 260px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-indent: 40px;
}

.component__input:focus {
  border: 2px solid #2B2D42;
  outline: none;
}

.container__no__pokemons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container__no__pokemons > p{
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
.container {
  display: flex;
  flex-direction: column;
}
  
.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.container__filters{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}
  
.component__input {
  width: 260px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-indent: 40px;
}
  
.component__input:focus {
  border: 2px solid #2B2D42;
  outline: none;
}
  
.container__no__pokemons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
.container__no__pokemons > p{
  font-size: 24px;
}

}