.button {
  padding: 12px 12px;
  background-color: #2B2D42;
  color: #EDF2F4;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  transition: .5s all;
}

button:disabled {
  background-color: #CCC;
  cursor: not-allowed;
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    color: #EDF2F4;
    background-color: #2B2D42;
    cursor: pointer;
  }

  .button:hover {
    background-color: #8D99AE;
    color: #2B2D42;
  }

}