.container {
  display: flex;
  flex-direction: column;
  background-color: #EDF2F4;
  height: 100vh;
  z-index: 9999;
  position: absolute;
  width: 140px;
  left: 0px;
  top: 0px;
}

.container__close__drawer {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
}

.button__close__drawer {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.container__link__drawer {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
}

.link__is__active__drawer {
  color: #2B2D42;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 0px;
  cursor: default;
}

.link__is__active__drawer>p {
  width: fit-content;
  border-bottom: 2px solid #2B2D42;
}

.link__is__not__active__drawer {
  color: #8D99AE;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 0px;
}