.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.image{
  width: 320px;
  height: 320px;
  object-fit: contain;
}
  
.container__buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component__left__button{
  width: 200px;
  padding: 10px;
  background-color: #EF233C;
  color: #EDF2F4;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: .5s all;
}

.component__left__button:hover {
  background-color: #EDF2F4;
  color: #2B2D42;
}

.component__right__button{
  width: 200px;
  padding: 10px;
  background-color: #2B2D42;
  color: #EDF2F4;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: .5s all;
}

.component__right__button:hover {
  background-color: #EDF2F4;
  color: #EF233C;
}

.container__title{
  width: 100%;
  padding: 0px 20px;
}

.title {
  text-align: center;
  color: #EDF2F4;
  font-size: 40px;
}


@media only screen and (min-width: 768px) {
.container {
  display: flex;
  align-items: center;
}
  
.container__information {
  display: flex;
  flex-direction: column;
}
  
.container__title{
  width: 100%;
}
  
.title {
  color: #EDF2F4;
  font-size: 40px;
}
  
.component__left__button{
  background-color: #EF233C;
  color: #EDF2F4;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: .5s all;
}
  
.component__left__button:hover {
  background-color: #EDF2F4;
  color: #2B2D42;
}
  
.component__right__button{
  background-color: #2B2D42;
  color: #EDF2F4;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: .5s all;
}
  
.component__right__button:hover {
  background-color: #EDF2F4;
  color: #EF233C;
}

}

@media only screen and (min-width: 1280px) {
.container{
  flex-direction: row;
  height: 100%;
}

.image{
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.container__buttons{
  margin-top: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.component__left__button{
  width: 200px;
  margin: 0px 10px;
  padding: 10px;
}
  
.component__right__button{
  width: 200px;
  margin: 0px 10px;
  padding: 10px;
}
  
.container__title{
  width: 100%;
  padding: 0px 20px;
}
  
.title {
  text-align: center;
  color: #EDF2F4;
  font-size: 40px;
}

}