.container__information {
  display: flex;
  background-color: #2B2D42;
  width: 80%;
  border-radius: 18px;
  height: 40px;
  margin-top: 6px;
}

.title__container {
  display: flex;
  align-items: center;
  background-color: #EDF2F4;
  width: 50%;
  color: #2B2D42;
  text-transform: uppercase;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.title {
  width: 100%;
  text-align: center;
}

.container__text {
  display: flex;
  align-items: center;
  width: 50%;
  color: #EDF2F4;
}

.value {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container__information {
    width: 50%;
  }
}