.container {
  height: 300px;
  width: 240px;
  background-color: #EDF2F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 4px;
}

.container__bottom {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.component__button {
  margin-bottom: 6px;
  padding: 16px 16px;
  background-color: #2B2D42;
  color: #EDF2F4;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: .5s all;
}

.name{
  text-transform: uppercase;
  color: #2B2D42;
  text-align: center;
}

.icon {
  color: #2B2D42;
}

.icon:hover {
  color: #EF233C;
}