.container {
  height: 290px;
  width: 200px;
  background-color: #EDF2F4;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 4px;
}

.attack {
  background-color: #2B2D42;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EF233C;
}

.attack__number {
  font-family: 'Roboto';
  color: #EDF2F4;
}

.container__bottom {
  display: flex;
  align-items: center;
  margin-top: 4px;
  height: 20%;
}

.component__button {
  margin-bottom: 6px;
  padding: 16px 16px;
  background-color: #2B2D42;
  color: #EDF2F4;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: .5s all;
}

.container__name {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #2B2D42;
  text-align: center;
  height: 10%;
}

.icon {
  color: #2B2D42;
}

.icon:hover {
  color: #EF233C;
}

.image {
  height: 70%;
  width: 200px;
  object-fit: contain;
  background-color: #8D99AE;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}