.component__input {
  margin-bottom: 6px;
  width: 260px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-indent: 40px;
}

.component__input:focus {
  border: 2px solid #2B2D42;
  outline: none;
}

.component__button {
  margin-bottom: 6px;
  padding: 16px 16px;
  background-color: #2B2D42;
  color: #EDF2F4;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: .5s all;
}

.component__button:hover {
  background-color: #EDF2F4;
  color: #2B2D42;
}

.component__link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #EDF2F4;
  font-size: 14px;
  margin-bottom: 6px;
  font-style: italic;
}

.component__link:hover {
  color: #2B2D42;
}

.container {
  display: flex;
  height: 90vh;
}

.sub__container {
  width: 400px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

@media only screen and (min-width: 768px) {
.component__input {
  margin-bottom: 6px;
  width: 260px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-indent: 40px;
}
  
.component__input:focus {
  border: 2px solid #2B2D42;
  outline: none;
}
  
.component__button {
  margin-bottom: 6px;
  padding: 16px 16px;
  background-color: #2B2D42;
  color: #EDF2F4;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: .5s all;
}
  
.component__button:hover {
  background-color: #EDF2F4;
  color: #2B2D42;
}
  
.component__link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #EDF2F4;
  font-size: 14px;
  margin-bottom: 6px;
  font-style: italic;
}
  
.component__link:hover {
  color: #2B2D42;
}
  
.container {
  display: flex;
  height: 100vh;
}
  
.sub__container {
  background-color: #2B2D4260;
  border: 1px solid #EDF2F4;
  border-radius: 14px;
  width: 400px;
  margin: auto;
}
  
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

}