.container {
  display: flex;
  height: 90vh;
}

.sub__container {
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.component__input {
  width: 260px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-indent: 10px;
  margin: 4px;
}

.component__input:focus {
  border: 2px solid #2B2D42;
  outline: none;
}

.component__button {
  margin-top: 14px;
  padding: 16px 16px;
  background-color: #EDF2F4;
  color: #2B2D42;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: .5s all;
}

.container__inputs{
  margin-top: 24px;
}

.component__link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #EDF2F4;
  font-size: 14px;
  margin-top: 6px;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
.sub__container {
  background-color: #EDF2F4;
  border-radius: 10px;
  padding: 60px;
}

.component__button {
  font-size: 18px;
  color: #EDF2F4;
  background-color: #2B2D42;
}

.component__button:hover {
  background-color: #8D99AE;
  color: #2B2D42;
}

.component__link {
  color: #2B2D42;
}

.component__link:hover {
  color: #8D99AE;
}

}