.container {
  display: flex;
  height: 100vh;
}

.sub__container {
  display: flex;
  background-color: #EDF2F4;
  border-radius: 10px;
  height: 60%;
  width: 80%;
  margin: auto;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content>button {
  margin-top: 10px;
}

.image {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  object-fit: contain;
}

.container__inputs {
  margin-top: 24px;
  width: 80%;
}

.container__inputs>div>p {
  color: #2B2D42;
}

.component__link {
  display: flex;
  justify-content: flex-end;
  color: #2B2D42;
  margin-top: 6px;
  font-size: 14px;
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .sub__container {
    height: 60%;
    width: 40%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .image {
    height: 256px;
    width: 256px;
  }

  .container__inputs {
    width: 60%;
  }

  .container__link {
    display: flex;
    justify-content: flex-end;
  }

  .component__link {
    color: #2B2D42;
  }

  .component__link:hover {
    color: #8D99AE;
  }


}