.component__button {
    margin-bottom: 6px;
    padding: 16px 16px;
    background-color: #273043;
    color: #EFF6EE;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: .5s all;
}

.component__button:hover {
    background-color: #EFF6EE;
    color: #273043;
}

.component__input {
    margin-bottom: 6px;
    width: 260px;
    height: 36px;
    border-radius: 8px;
    border: 2px solid transparent;
    text-indent: 40px;
}

.component__input:focus {
    border: 2px solid #273043;
    outline: none;
}

.component__input::placeholder {
    padding-left: 6px;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #273043;
    align-items: center;
    justify-content: center;
}

.sub__container {
    background-color: #9197AE60;
    border: 1px solid #EFF6EE;
    border-radius: 10px;
    display: flex;
    height: 400px;
    width: 600px;
    align-items: center;
}

.container__input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
