.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__no__favorites{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container__no__favorites > p{
  font-size: 24px;
}