.container {
  height: 60px;
  background-color: #EDF2F4;
  position: absolute;
  top: 0;
  width: 100%;
}

.container__link {
  display: none;
}

.container__menuAvatar__top {
  display: flex;
  align-items: center;
  color: #2B2D42;
  font-size: 20px;
}

.menuAvatar {
  display: flex;
  align-items: center;
  position: relative;
}

.menu {
  width: 250px;
  display: flex;
  justify-content: space-around;
  background-color: #8D99AE;
  border-radius: 4px;
  position: absolute;
  right: 0px;
  top: 58px;
}

.subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  height: 60px;
}

.button__burger {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container__logo {
  display: none;
}

.profile__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #2B2D42;
}

.logout__button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #2B2D42;
}

.logout__button > p {
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.logout__button > p:hover {
  border-bottom: 1px solid #2B2D42;
}

.profile__button > p {
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.profile__button > p:hover {
  border-bottom: 1px solid #2B2D42;
}

.container__menu__links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media only screen and (min-width: 768px) {
.container__logo {
  display: flex;
}

.profile__button > p {
  font-size: 20px;
}

.logout__button > p {
  font-size: 20px;
}

.logo {
  height: 60px;
  width: 160px;
}

.container__left{
  display: flex;
}
  
.link__is__active {
  color: #2B2D42;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #2B2D42;
  padding-bottom: 3px;
}
  
.link__is__not__active {
  color: #8D99AE;
  font-size: 16px;
  text-transform: uppercase;
}
  
.container__link {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
}

.container__burger {
  display: none;
}

}