.container {
  height: 60px;
  background-color: #353535;
  position: absolute;
  top: 0;
  width: 100%;
}

.container__link {
  display: none;
}

.container__menuAvatar__top {
  display: flex;
  align-items: center;
  color: #EDF2F4;
  font-size: 18px;
}

.menuAvatar {
  display: flex;
  align-items: center;
  position: relative;
}

.menu {
  width: 140px;
  background-color: #EDF2F4;
  border-radius: 4px;
  color: #2B2D42;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 58px;
}

.subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  height: 60px;
}

.button__burger {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.container__logo {
  display: none;
}

.container__profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  border: 1px solid #2B2D42;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.container__logout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  border-left: 1px solid #2B2D42;
  border-right: 1px solid #2B2D42;
  border-bottom: 1px solid #2B2D42;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.profile__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 6px;
}

.logout__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 6px;
  cursor: pointer;
}


@media only screen and (min-width: 768px) {
.container__right {
  display: flex;
}

.container__logo {
  display: flex;
}

.logo {
  display: flex;
  height: 60px;
  width: 160px;
}
  
.link__is__active {
  color: #D90429;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 2px solid #D90429;
  padding-bottom: 3px;
}
  
.link__is__not__active {
  color: #EDF2F4;
  font-size: 18px;
  text-transform: uppercase;
}
  
.container__link {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__burger {
  display: none;
}

.profile__button {
  font-size: 18px;
}

.logout__button {
  font-size: 18px;
}

}