.container {
    height: 60px;
    background-color: #2B2D42;
    position: absolute;
    top: 0;
    width: 100%;
}

.subcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    height: 60px;
}

.link {
    color: #EDF2F4;
    font-size: 18px;
}