.container {
  display: flex;
  flex-direction: column;
  background-color: #EDF2F4;
}

.container__image__links {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container__author {
  color: #2B2D42;
  text-align: center;
  margin-bottom: 6px;
}

.logo {
  width: 200px;
  height: 80px;
}