.container {
  background-color: #EDF2F4;
  height: auto;
}

.subcontainer {
  display: flex;
  flex-direction: column;
}

.container__image__links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}

.logo {
  width: 200px;
}

.container__author {
  color: #2B2D42;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 87px;
  }

  .subcontainer {
    height: 100%;
  }

  .container__image__links {
    flex-direction: row;
    justify-content: space-around;
    height: 70%;
  }

  .logo {
    height: 100%;
  }

  .container__author {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}