.container {
  display: flex;
  align-items: center;
}

.subcontainer {
  display: flex;
  background-color: #EDF2F4;
  border-radius: 8px;
  flex-direction: column;
  padding: 6px 0px;
  width: 100%;
  margin: 6px 6px;
}

.container__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.image {
  width: 50%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__inputs {
  width: 70%;
}

.container__input {
  height: 74px;
}

.container__input>div>p {
  color: #2B2D42;
}

.container__types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container__checkbox {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.error {
  color: #D90429;
  font-size: 14px;
}

.input__submit {
  width: 50%;
  height: 40px;
  border-radius: 8px;
  margin: 10px auto;
  cursor: pointer;
  border: 2px solid #2B2D42;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }

  .subcontainer {
    flex-direction: row;
  }

  .container__left {
    width: 50%;
  }

  .image {
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin: 0px;
  }

  .form {
    width: 50%;
  }

  .container__stats {
    height: 100%;
    justify-content: space-around;
  }

  .container__types {
    margin: 0px;
  }

  .container__inputs {
    width: 340px;
    padding: 0px;
  }

  .container__save {
    margin: 0px;
  }
}