.container {
  display: flex;
  align-items: center;
}

.subcontainer {
  display: flex;
  background-color: #EDF2F4;
  border-radius: 8px;
  flex-direction: column;
  padding: 6px 0px;
  width: 100%;
  margin: 6px 6px;
}

.container__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 60%;
  height: 100%;
  margin-top: 10px;
}

.container__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__input {
  width: 100%;
  padding: 6px;
}

.container__input>div>p {
  color: #2B2D42;
}

.container__types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container__checkbox {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.container__save {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }

  .subcontainer {
    flex-direction: row;
    height: 80%;
  }

  .container__left {
    width: 40%;
    height: 100%;
    justify-content: space-around;
  }

  .image {
    width: 90%;
    object-fit: contain;
    margin: 0px;
  }

  .container__stats {
    width: 60%;
    height: 100%;
    justify-content: space-around;
  }

  .container__types {
    margin: 0px;
  }

  .container__input {
    width: 340px;
    padding: 0px;
  }

  .container__save {
    margin: 0px;
  }

}