.component__button {
  margin-top: 10px;
  padding: 16px 16px;
  background-color: #8D99AE;
  color: #2B2D42;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #EFF6EE;
  border-radius: 8px;
  transition: .5s all;
}

.component__button:hover{
  background-color: #EFF6EE;
  border: 2px solid #2B2D42;
  color: #2B2D42;
}

.component__input {
  margin-bottom: 6px;
  width: 200px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid #2B2D42;
}

.component__input:focus {
  border: 2px solid #2B2D42;
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.subcontainer {
  display: flex;
  background-color: #2B2D42;
  border: 1px solid #EFF6EE;
  border-radius: 8px;
  padding: 6px;
}

.container__stats {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container__input__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__input__bottom {
  display: flex;
  justify-content: center;
}

.container__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.container__checkbox {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.container__types {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  height: 50%;
}