.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.sub__container {
  display: flex;
  flex-direction: column;
}

.title{
  text-align: center;
  color: #EDF2F4;
  margin-bottom: 18px;
  font-size: 28px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image{
  width: 60%;
}

.container__avatars { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.container__message {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.subcontainer__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #EF233C;
  border-radius: 10px;
}

.container__message__image {
  display: flex;
  align-items: center;
  height: 50%;
}

.message__image {
  height: 100px;
  width: 200px;
}

.message {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-size: 20px;
  background-color: #EDF2F4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: transparent;
  color: #2B2D42;
}

.component__button {
  margin-top: 10px;
  padding: 16px 16px;
  background-color: #EF233C;
  color: #EDF2F4;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: .5s all;
  width: 100%;
}

.component__button:hover {
  background-color: #EDF2F4;
  color: #EF233C;
}

.component__input {
  width: 50%;
  height: 36px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-indent: 10px;
  margin: 4px;
}

.component__input:focus {
  border: 2px solid #EF233C;
  outline: none;
}

.component__input::placeholder {
  padding-left: 6px;
}

.button__sign__in{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.component__link{
  color: #EDF2F4;
  font-size: 14px;
  margin-top: 6px;
  font-style: italic;
}


@media only screen and (min-width: 768px) {
.container{
  justify-content: center;
}

.sub__container {
  background-color: #8D99AE;
  border-radius: 10px;
  padding: 30px 10px;
  width: 100%;
  margin: 4px;
}

.content{
  flex-direction: row;
}

.image{
  width: 50%;
  object-fit: contain;
  margin: 0px;
}

.container__content__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__input{
  width: 80%;
}

.container__avatars{
  width: 60%;
}

.container__message{
  width: 100%;
  justify-content: center;
}

.subcontainer__message{
  width: 800px;
}

.component__button{
  width: 40%;
}

.component__link:hover {
  color: #2B2D42;
}

}