.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sub__container {
  display: flex;
  flex-direction: column;
}

.container__input{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__avatars { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.container__message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.subcontainer__message{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: #2B2D42;
  border-radius: 10px;
}

.image{
  width: 70%;
  margin-bottom: 10px;
}

.title{
  text-align: center;
  color: #D9D9D9;
  margin-bottom: 18px;
  font-size: 32px;
}

.component__button {
  margin-top: 10px;
  padding: 16px 16px;
  background-color: #353535;
  color: #D9D9D9;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: .5s all;
  width: 100%;
}

.component__button:hover {
  background-color: #D9D9D9;
  color: #353535;
}

.component__input {
  margin-bottom: 6px;
  width: 260px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid transparent;
  text-indent: 40px;
}

.component__input:focus {
  border: 2px solid #353535;
  outline: none;
}

.component__input::placeholder {
  padding-left: 6px;
}

.message{
  display: flex;
  align-items: center;
  text-align: center;
  height: 50%;
  font-size: 24px;
  background-color: #EDF2F4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: transparent;
}

.message__image {
  height: 100px;
  width: 200px;
}

.container__message__image {
  display: flex;
  align-items: center;
  height: 50%;
}

@media only screen and (min-width: 768px) {
.sub__container {
  background-color: #3C6E7180;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 30px 10px;
}

.container__input{
  width: 50%;
}

.container__avatars{
  width: 60%;
}

.content{
  display: flex;
  flex-direction: row;
}

.image{
  width: 50%;
  object-fit: contain;
  margin: 0px;
}

.component__button{
  width: 40%;
}

}