.container {
  height: auto;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.container__image {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.image {
  width: 90%;
  margin: 0px;
  object-fit: contain;
}

.container__content__right {
  width: 80%;
}

.title {
  text-align: center;
  color: #2B2D42;
  margin-bottom: 18px;
  font-size: 28px;
}

.container__inputs {
  display: flex;
  flex-direction: column;
}

.container__input {
  height: 74px;
}

.container__input>div>p {
  color: #EDF2F4;
}

.container__avatars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.container__label__avatar {
  width: 50%;
  color: #EDF2F4;
}

.carousel {
  width: 50%;
}

.input__submit {
  width: 50%;
  height: 40px;
  border-radius: 8px;
  margin: 10px auto;
  cursor: pointer;
  border: 2px solid #2B2D42;
}

.component__link {
  color: #EDF2F4;
  font-size: 14px;
  margin-top: 6px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.error {
  color: #D90429;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }

  .content {
    flex-direction: row;
    height: 80%;
    background-color: #8D99AE;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    margin: 0px 4px;
  }

  .container__image{
    margin: 0px;
  }

  .container__content__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .title {
    font-size: 34px;
    margin: 0px;
  }

  .container__inputs {
    width: 330px;
  }

  .container__input>div>p {
    color: #2B2D42;
  }

  .container__label__avatar {
    width: 40%;
    color: #2B2D42;
  }

  .carousel {
    width: 60%;
  }

  .component__link:hover {
    color: #2B2D42;
  }

}